:root {
  --background: rgb(243, 233, 243);
  --primary: #ff7a00;
  --bg: #fafafa;
  --dark: #222;
  --border: #e8e8e8;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background: var(--bg);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 6%;

  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid var(--border);
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #111;
}

.logo span {
  color: var(--primary);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  padding: 0.7rem 1rem;
  border-radius: 999px;
  text-decoration: none;
  color: #444;
  transition: 0.25s ease;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--primary);
}

.active {
  color: var(--primary);
}

.active svg {
  stroke: white;
}

.badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: crimson;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  font-weight: bold;
}

.menu-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.footer-display {
  width: 100%;
  background-color: rgb(245, 213, 213);
  margin-top: 5rem;
}

.west-mart {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding: 3.7rem 0rem;
  bottom: 0;
  height: 40vh;
}

.footer-elements {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  line-height: 0.2rem;
  width: 12rem;
}

.listing > p {
  font-size: 0.9rem;
  opacity: 0.7;
}

.footer-elements > p {
  font-weight: bold;
  opacity: 0.8;
}

.listing {
  display: block;
  align-items: flex-start;
  flex-direction: column;
}

.endpage {
  height: 7vh;
  background-color: rgb(31, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  bottom: 0;
}

.endpage p {
  opacity: 0.8;
}


@media (max-width: 768px) {
  .navbar {
    padding: 1rem 5%;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 1.6rem;
  }

  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    left: 0;
    top: 72px;

    width: 100%;

    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    padding: 1rem 0;

    border-bottom: 1px solid var(--border);

    transform: translateY(-150%);
    transition: transform 0.35s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .nav-link {
    width: 90%;
    justify-content: flex-start;
  }

  .listing > p {
    font-size: 0.75rem;
  }

  .footer-elements > p {
    font-size: 90%;
  }

  .endpage > p {
    font-size: 0.6rem;
  }
}